<meta name="viewport" content="width=device-width, initial-scale=1.0">

<hr>
<div align="center">
	<footer class="footer" style="color:white">
    <p>Altyapı: <a href="http://anidiots.guide/">An Idiot's Guide</a> | Düzenleme:  <a href="https://discord.gg/xr9svA5">Ceyhun#9569 Bot ve Dashboard Kullanılırken İzin Alınmıştır</a> | <a href="#top">Üste Çık</a></p>
	</footer>
</div>