
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron" style="background-color: #0DAED6;">
		<div>
			<h1 class="text-warning" style="color: #FFFFFF;">Hata</h1>
			<p style="color: #FFFFFF;">Botu Discord hesabınıza bağlarken bir hata oluştu! Lütfen bir süre sonra tekrar deneyin. Daha fazla bilgi almak için <a href="<%= "https://discord.gg/PqeeUsa" %>">destek sunucusuna</a> katılabilirsiniz!</p>
		</div>
	</div>
</div>
<% include ./blocks/footer %>